/* this stylesheet is to be applied to the homepage only */

.homepage-title {
    padding: 0.5em;
    text-align: center;
    border: 5px solid black ;
    margin: 10px 25% 20px;
}

.homepage-description {
    text-align: center;
    margin: 10px;
}

.recipe-list-box {
    padding: auto;
    text-align: center;
}

div {
    list-style-type: none;
    display: inline-flex;
    border: 5px solid black;
    width: 150px;
    height: 100px;
    margin: 1em;
}
